html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 11pt;
	font-weight: 400;
	color: #000000;
}

header {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-image: url(back1.jpg);
    background-size: cover;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

section{
    background-color: #c4e2fc;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

article{
    background-color: #c4e2fc;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

#left{
    background-color: #c4e2fc;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }  

#right{
    background-color: #c4e2fc;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

footer {
    display: grid;
    grid-template-columns: auto;
    background-image: url(back1.jpg);
    background-size: cover;
    padding: 10px;
    text-align: center;
    border-top: 2px solid rgba(0, 0, 0, 0.8);
    color: white;
  }
  
.nav {
      height: 100px;
      width: 100px;
      
  }

.arrow {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 1%;
    max-width: 30px;
    width: 100%;
    object-fit: fill;
}


section:hover, article:hover, #left:hover, #right:hover {
  background-color: rgb(136, 252, 113);
}

@media screen and (max-width: 600px) {

  header {
    display: grid;
    grid-template-columns: auto;
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  footer {
    display: grid;
    grid-template-columns: auto;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  

  }